<div class="events" id="event">
  <div style="text-align: center">
    <h1>Events in Chhath Puja</h1>
  </div>
  <div class="events-main">
    <img
      class="img-1"
      src="./images/Agenda1.jpeg"
      alt=""
    />
    <div class="events-content">
      <h2>Day 1:- Nahay Khay.</h2>
      <p>
        The first day to be celebrated on 28th October, this year and it is
        called Nahay Khay, which is observed in Shukla Paksha Chaturthi of Hindu
        month - Kartik. Women usually Vrati take a bath and not only the vrati
        women but also their families start taking satvik food. Kaddu Bhaat
        along with Chana dal is a common preparation on this day and it is
        cooked by using bronze utensils.
      </p>
    </div>
  </div>

  <div class="events-main main-2">
    <div class="events-content content-2">
      <h2>Day 2:- Kharna.</h2>
      <p>
        The second day is called Kharna and falls on 29th October. Vratis
        observe fast for the entire day of kharna. In the evening, the prasad of
        jaggery pudding is prepared on the earthen stove. When the puja is
        concluded, the vratti break their fast by eating the jaggery kheer and
        ghee layered Roti as Prasad and later on it is distributed among family
        and friends. On the mid night of Kharna people prepare thekua- a special
        Prasad for Chhathi Maiya. After having this prasad distribution, Vratis
        begin an arduous nirjala fast (without water) lasting for next 36 hours.
      </p>
    </div>
    <img
      class="img-1"
      src="https://gyansagar-conclave.herokuapp.com/images/SliderImage/1.jpg"
      alt=""
    />
  </div>

  <div class="events-main">
    <img
      class="img-1"
      src="https://gyansagar-conclave.herokuapp.com/images/SliderImage/1.jpg"
      alt=""
    />
    <div class="events-content">
      <h2>Day 3:- Sandhya Arghya.</h2>
      <p>
        After that, On 30th October will be the third day. During the day, the
        daura (a basket made of bamboo sticks) is prepared by putting into it
        all the offerings including thekua and seasonal fruits. In the evening
        of the third day, rituals take place at the banks of the river which
        include fasting, holy bathing and meditation where all the devotees
        offer ‘arghya’ to the setting sun called Sandhya Arghya. Folk songs
        (Chhath Geet) are also sung that show the social culture.
      </p>
    </div>
  </div>

  <div class="events-main main-2">
    <div class="events-content content-2">
      <h2>Day 4:- Bihaniya Arghya or Bhorka Arghya.</h2>
      <p>
        On the very last day of Chhath Puja, i.e, on 31st October,Vratis along
        with devotees again assemble on the bank of the same River early in the
        morning and sit until the sun rises. Till then They sing Chhath geets
        and worship Chhati Maiya. When the sun rises, the morning arghya, also
        called Bhorka Arghya, is offered when Vratis go into the water to pray
        to the rising Sun. After morning offerings, the vratti distribute Prasad
        among each other and take blessings from elders on the ghat. After that,
        they come back home. After returning from the ghat, vrattis break their
        36-hour long fast. This is called Paran.<br /><br />In this way the
        four-day long Chhath Puja is concluded.
      </p>
    </div>
    <img
      class="img-1"
      src="https://gyansagar-conclave.herokuapp.com/images/SliderImage/1.jpg"
      alt=""
    />
  </div>
</div>
