<div class="footer">
    <div class="footer-heading">Quick Links</div>
    <div class="line-green"></div>
    <div class="quick-links">
        <div class="link academic">
            <div class="footerheadings">Academic</div>
            <div class="footersectioncontent">
                <a href="http://www.nits.ac.in/academics/academiccalendar_timetable.php">Academic Calendar / Time Table</a><br />
                <a href="http://www.nits.ac.in/noticeboard.php">Academics Notices</a><br />
                <a href="http://www.nits.ac.in/ariia/ariia.php">ARIIA</a><br />
                <a href="http://www.nits.ac.in/ccmt/ccmt.php">CCMT Help Centre</a><br />
                <a href="http://www.ccmn.in">CCMN (JAM) Admissions</a><br />
                <a href="http://ciks.nits.ac.in" target="_blank">Centre for Indian Knowledge Systems
                    (CIKS)</a><br />
                <a href="http://www.nits.ac.in/csab.php">CSAB JEE Main</a><br />
                <a href="http://www.nits.ac.in/conferences/conferences.php">Conferences</a><br />
                <a href="http://www.nits.ac.in/dasa/dasa.php">DASA Admissions</a><br />
                <a href="http://www.nits.ac.in/gian/gian.php">GIAN</a><br />
                <a href="http://www.nits.ac.in/hpc/hpc.php" target="_blank">HPC (NITS Supercomputing Centre)</a><br />
                <a href="http://www.nits.ac.in/ieee_eds_student_chapter/index.html" target="_blank">IEEE-EDS Student Branch
                    Chapter</a><br />
                <a href="http://www.nits.ac.in/misc_docs/Institute_Publication_NITScoop.pdf" target="_blank">Institute
                    Publication</a><br />
                <a href="http://www.nits.ac.in/nirf/nirf.php">NIRF Documents</a><br />
                <a href="http://www.nits.ac.in/academics/programme.php">Programmes</a><br />
                <a href="http://www.nits.ac.in/results/results.php">Results</a><br />
                <a href="http://www.nits.ac.in/admissions/scholarships.php">Scholarships</a><br />
                <a href="http://www.nits.ac.in/sesi_student_chapter/index.php" target="_blank">SESI Student Chapter</a><br />
                <a href="http://www.nits.ac.in/workshops/workshops.php">Workshops / Seminars</a><br />
                <!--<a href="/solar_rtc/solar_rtc.php" target="_blank">Regional Test Center for Solar Thermal Devices</a><br />-->
            </div>
        </div>

        <div class="link departments">
            <div class="footerheadings">Departments</div>
            <div class="footersectioncontent">
                <a href="http://ce.nits.ac.in/" target="_blank">Civil Engineering</a><br />
                <a href="http://cs.nits.ac.in" target="_blank">Computer Science &amp; Engineering</a><br />
                <a href="http://eed.nits.ac.in/" target="_blank">Electrical Engineering</a><br />
                <a href="http://ec.nits.ac.in" target="_blank">Electronics &amp; Communication Engineering</a><br />
                <a href="http://www.nits.ac.in/departments/instru/eie.php">Electronics &amp; Instrumentation Engineering</a><br />
                <a href="http://me.nits.ac.in" target="_blank">Mechanical Engineering</a><br />
                <a href="http://www.nits.ac.in/departments/chem/chem.php">Chemistry</a><br />
                <a href="http://www.nits.ac.in/departments/humanities/humanities.php">Humanities and Social Sciences</a><br />
                <a href="http://www.nits.ac.in/departments/management/management.php">Management Studies</a><br />
                <a href="http://maths.nits.ac.in/" target="_blank"> Mathematics</a><br />
                <a href="http://www.nits.ac.in/departments/physics/physics.php">Physics</a><br />
            </div>
        </div>

        <div class="link explore">
            <div class="footerheadings">Explore NITS</div>
            <div class="footersectioncontent">
                <a href="http://www.nits.ac.in/campuslife/campusfacilities.php">Campus Facilities</a><br />
                <a href="http://www.nits.ac.in/campuslife/festivals.php">Festivals</a><br />
                <a href="http://www.nits.ac.in/campuslife/gyansagar.php">Gyansagar</a><br />
                <a href="http://www.nits.ac.in/gymkhana/index.html">Gymkhana</a><br />
                <a href="http://www.nits.ac.in/campuslife/healthcentre.php">Health Centre</a><br />
                <a href="http://www.nits.ac.in/campuslife/hostels.php">Hostels</a><br />
                <a href="http://www.nits.ac.in/campuslife/photos.php">Photo Gallery</a><br />
                <a href="http://www.nits.ac.in/campuslife/societies.php">Societies</a><br />
            </div>
        </div>
    </div>
    <div style="color: white;">Handcrafted with Love by Phenyloder ❤️</div>
</div>