<div class="gyansagar" id="main">
   <div style="text-align: center">
    <h1>About Gyansagar</h1>
   </div>
  <p>
    Gyansagar is a non-profitable organization as well as visionary venture
    started by the student community with a view to witness and be able to make
    a change in the society around us. An important step taken to uplift the
    unprivileged with the little effort from every youth from every corner of
    India.
  </p>
</div>
