<link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
<div class="h-top">
  <div class="h-top-main">
    <h1>Abhyuday.</h1>
    <h1>Chhath Mahaparv.</h1>
  </div>
</div>
