<div class="img-gallary">
    <div class="gallary-left">
        <div class="owl-carousel owl-theme">
            <div class="image">
                <img src="./images/batchOf2022.jpg" alt="" />
            </div>
            <div class="image">
                <img src="./images/batchOf2022.jpg" alt="" />
            </div>
            <div class="image">
                <img src="./images/batchOf2022.jpg" alt="" />
            </div>
            <div class="image">
                <img src="./images/batchOf2022.jpg" alt="" />
            </div>
            <div class="image">
                <img src="./images/batchOf2022.jpg" alt="" />
            </div>
            <div class="image">
                <img src="./images/batchOf2022.jpg" alt="" />
            </div>
            <div class="image">
                <img src="./images/batchOf2022.jpg" alt="" />
            </div>
        </div>
    </div>
    <div class="gallary-right">
        <div class="about-dept">About The Department</div>
        <div class="dept-para">
            The department was established in the year 2008 and currently offers a
            four year B.Tech programme in Electronics & Instrumentation
            Engineering, and PhD in related research topics. The department admits
            around 60 students to B.Tech. through Central Seat Allocation Board
            (CSAB) based on the All India Rank obtained through class 12/other
            Qualifying Examination and Joint Entrance Examination, JEE (Main).
            Admissions for Foreign Nationals / Persons of Indian Origin (PIOs) /
            Non-Resident Indians (NRIs) are through Direct Admission of Students
            Abroad (DASA) Scheme. The department selects its PhD scholars through
            written test and/or interview usually twice a year.
        </div>
        <div class="about-dept">Vision</div>
        <div class="dept-para">
            To evolve into a centre of academic and research excellence,
            developing professionals in the field of electronics and
            instrumentation to excel in academia and industry.
        </div>
    </div>
</div>