<div class="img-gallary">
  <div class="gallary-left">
    <div class="owl-carousel owl-theme">
      <div class="image">
        <img src="./images/batchOf2022.jpg" alt="" />
      </div>
      <div class="image">
        <img src="./images/batchOf2022.jpg" alt="" />
      </div>
      <div class="image">
        <img src="./images/batchOf2022.jpg" alt="" />
      </div>
      <div class="image">
        <img src="./images/batchOf2022.jpg" alt="" />
      </div>
      <div class="image">
        <img src="./images/batchOf2022.jpg" alt="" />
      </div>
      <div class="image">
        <img src="./images/batchOf2022.jpg" alt="" />
      </div>
      <div class="image">
        <img src="./images/batchOf2022.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="gallary-right">
    <div class="about-dept">Description of Chhath Puja</div>
    <div class="dept-para">
      Chhath Puja is an ancient Vedic festival, historically native to the
      Indian state of Bihar along with UP, and Jharkhand which starts on the 6th
      day of the Hindu calendar month “Kartika''. This festival is all about
      purity, devotion and offering prayer to the solar deity for supporting
      life on earth and in order to seek the blessings of divine Surya Dev and
      his sister Shashti Devi also known as Chhathi Maiya.
    </div>
    <div class="about-dept">Signifance of Chhath Puja</div>
    <div class="dept-para">
      The festival of Chhath takes place on the Shashti (sixth day) of Kartik
      month during which Shashthi Maiya is worshiped who is also called as
      Chhathi Maiya. It is believed that Chhathi Maiya, who is worshiped during
      Chhath Puja, is the sister of Sun God. This is why people please her by
      offering water called Arghya to the Sun.It is also said that the sages of
      the Vedic era used to perform the puja by exposing themselves to direct
      sunlight to gain energy from the rays of the sun. Not only this but
      Katyayani Devi, who is the sixth form of Maa Durga, is also worshiped
      during these days. The festival is kept for kids and this is why Chhathi
      maiya is worshiped as she gave birth to the children. Couples who did not
      have children observe Chhath Vrat and all others celebrate Chhath for the
      happiness and peace of their children.
    </div>
  </div>
</div>
