<div class="nav-bar">
    <div class="left-section">
        <div class="logo">
            <img src="./images/nit-logo.png" alt="" class="nits-logo" />
        </div>
        <div class="heading">
            <div class="upper-heading">Alumni Forum</div>
            <div class="lower-heading">Department of EIE</div>
        </div>
    </div>
    <div class="right-section">
        <div class="buttons">
            <a href="#" class="link">Home</a>
        </div>
        <div class="buttons">
            <a href="#" class="link">Alumnus ▼</a>
            <ul class="dropdown">
                <li><a href="#">2018-2022</a></li>
                <li><a href="#">2017-2021</a></li>
                <li><a href="#">2016-2020</a></li>
            </ul>
        </div>
        <div class="buttons">
            <a href="#" class="link">Forum</a>
        </div>
        <div class="buttons">
            <a href="#" class="link">Signin/Signup</a>
        </div>
    </div>
</div>