<div class="notices">
    <div class="notice-heading">Notices</div>
    <div class="line"></div>
    <div class="notice-list">
        <ul class="ul-notice">
            <li class="list-item">
                Chhatt Coming Up <img src="./images/tnew.gif" />
            </li>
            <li class="list-item">
                Diwali Done <img src="./images/tnew.gif" />
            </li>
            <li class="list-item">
                Tecno Done <img src="./images/tnew.gif" />
            </li>
        </ul>
    </div>
</div>