<!-- Notices  -->
<!-- <div class="notices">
    <div class="notice-heading">Notices</div>
    <div class="line"></div>
    <div class="notice-list">
        <ul class="ul-notice">
            <li class="list-item">
                Chhatt Coming Up <img src="./images/tnew.gif" />
            </li>
            <li class="list-item">
                Diwali Done <img src="./images/tnew.gif" />
            </li>
            <li class="list-item">
                Tecno Done <img src="./images/tnew.gif" />
            </li>
        </ul>
    </div>
</div> -->
<html>
    <head>
        <title>
            Main content
        </title>
        <style>
            .
            
      </style>
      <body>
        <div class="div">
            <h>
                Chhatt
            </h>
            <p>Chhath Puja is an ancient Vedic festival, historically native to the Indian state of Bihar
                 along with UP, and Jharkhand which starts on the 6th day of the Hindu calendar month “Kartika''. This festival is all about purity, devotion and offering prayer to the solar deity for supporting life on earth and in order to seek the blessings of divine
                  Surya Dev and his sister Shashti Devi also known as Chhathi Maiya.  


            </p>
            <h> About Gyansagar</h>
            <p> Gyansagar is a non-profitable organization as well as visionary venture started by the student community with a view to
                 witness and be able to make a change in the society around us. An important step taken to uplift the unprivileged with
                  the little effort from every youth from every corner of India. 

            </p>
        </div>
        <div class="div2">
            <div class="main">
                <div class="first">
                    rr
                    </div>
                </div>
                <div class="second">
                    la
                    </div>

            
        </div>
      </body>
</html>
