<div class="reach-us" id="reach">
  <div style="text-align: center">
    <h1>Reach Us</h1>
  </div>
  <iframe
    class="gyan-map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3623.097992412443!2d92.7901863!3d24.757829100000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x374e49a864f4b8bf%3A0xc8c0de0fadce525f!2sGyansagar!5e0!3m2!1sen!2sin!4v1666980128224!5m2!1sen!2sin"
    style="border: 0"
    allowfullscreen="true"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
