<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo Gallery | Abhyuday</title>
    <link rel="icon" href="./images/abhyuday-logo.png" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
    href="https://fonts.googleapis.com/css2?family=Cantarell&display=swap"
    rel="stylesheet"
  />
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/navbar.css" />
    <link rel="stylesheet" href="./css/gallery.css" />
    <link rel="stylesheet" href="./css/footer.css" />
  </head>
  <body>
    <!-- Nav-bar  -->
    <%-include('partials/navbar')%>

    <div class="gallery">
      <div class="gallery-main">
        <h1>Chhath Puja.</h1>
        <h1>All Memories At One Place.</h1>
      </div>
    </div>

    <div class="image-gallery">
      <div class="gallery-all">
        <% if (photos.length > 0) { %> <% photos.forEach(photo => { %>
        <div class="image-all">
          <img src="<%= photo.img %>" alt="<%= photo.alt %>" />
        </div>
        <% }) %> <% } else { %>
        <p>Photos coming up....</p>
        <% } %>
      </div>
      <div class="d-bt">
        <a href="/"><p class="p-by">Go Home?</p></a>
      </div>
    </div>

    <!-- Footer  -->
    <%-include('partials/footer')%>
  </body>
</html>
