<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alumni Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/index.css" />
</head>

<body>
    <div class="nav-bar">
        <div class="left-section">
            <div class="logo">
                <img src="./images/nit-logo.png" alt="" class="nits-logo" />
            </div>
            <div class="heading">
                <div class="upper-heading">Alumni Forum</div>
                <div class="lower-heading">Department of EIE</div>
            </div>
        </div>
        <div class="right-section">
            <div class="buttons">
                <a href="#" class="link">Home</a>
            </div>
            <div class="buttons">
                <a href="#" class="link">Alumnus ▼</a>
                <ul class="dropdown">
                    <li><a href="#">2018-2022</a></li>
                    <li><a href="#">2017-2021</a></li>
                    <li><a href="#">2016-2020</a></li>
                </ul>
            </div>
            <div class="buttons">
                <a href="#" class="link">Forum</a>
            </div>
            <div class="buttons">
                <a href="#" class="link">Signin/Signup</a>
            </div>
        </div>
    </div>
    <div class="img-gallary">
        <div class="gallary-left">
            <div class="owl-carousel owl-theme">
                <div class="image">
                    <img src="./images/batchOf2022.jpg" alt="" />
                </div>
                <div class="image">
                    <img src="./images/batchOf2022.jpg" alt="" />
                </div>
                <div class="image">
                    <img src="./images/batchOf2022.jpg" alt="" />
                </div>
                <div class="image">
                    <img src="./images/batchOf2022.jpg" alt="" />
                </div>
                <div class="image">
                    <img src="./images/batchOf2022.jpg" alt="" />
                </div>
                <div class="image">
                    <img src="./images/batchOf2022.jpg" alt="" />
                </div>
                <div class="image">
                    <img src="./images/batchOf2022.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="gallary-right">
            <div class="about-dept">About The Department</div>
            <div class="dept-para">
                The department was established in the year 2008 and currently offers a
                four year B.Tech programme in Electronics & Instrumentation
                Engineering, and PhD in related research topics. The department admits
                around 60 students to B.Tech. through Central Seat Allocation Board
                (CSAB) based on the All India Rank obtained through class 12/other
                Qualifying Examination and Joint Entrance Examination, JEE (Main).
                Admissions for Foreign Nationals / Persons of Indian Origin (PIOs) /
                Non-Resident Indians (NRIs) are through Direct Admission of Students
                Abroad (DASA) Scheme. The department selects its PhD scholars through
                written test and/or interview usually twice a year.
            </div>
            <div class="about-dept">Vision</div>
            <div class="dept-para">
                To evolve into a centre of academic and research excellence,
                developing professionals in the field of electronics and
                instrumentation to excel in academia and industry.
            </div>
        </div>
    </div>
    <div class="notices">
        <div class="notice-heading">Notices</div>
        <div class="line"></div>
        <div class="notice-list">
            <ul class="ul-notice">
                <li class="list-item">
                    Chhatt Coming Up <img src="./images/tnew.gif" />
                </li>
                <li class="list-item">
                    Diwali Done <img src="./images/tnew.gif" />
                </li>
                <li class="list-item">
                    Tecno Done <img src="./images/tnew.gif" />
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="footer-heading">Quick Links</div>
        <div class="line-green"></div>
        <div class="quick-links">
            <div class="link academic">
                <div class="footerheadings">Academic</div>
                <div class="footersectioncontent">
                    <a href="http://www.nits.ac.in/academics/academiccalendar_timetable.php">Academic Calendar / Time Table</a><br />
                    <a href="http://www.nits.ac.in/noticeboard.php">Academics Notices</a><br />
                    <a href="http://www.nits.ac.in/ariia/ariia.php">ARIIA</a><br />
                    <a href="http://www.nits.ac.in/ccmt/ccmt.php">CCMT Help Centre</a><br />
                    <a href="http://www.ccmn.in">CCMN (JAM) Admissions</a><br />
                    <a href="http://ciks.nits.ac.in" target="_blank">Centre for Indian Knowledge Systems
                        (CIKS)</a><br />
                    <a href="http://www.nits.ac.in/csab.php">CSAB JEE Main</a><br />
                    <a href="http://www.nits.ac.in/conferences/conferences.php">Conferences</a><br />
                    <a href="http://www.nits.ac.in/dasa/dasa.php">DASA Admissions</a><br />
                    <a href="http://www.nits.ac.in/gian/gian.php">GIAN</a><br />
                    <a href="http://www.nits.ac.in/hpc/hpc.php" target="_blank">HPC (NITS Supercomputing Centre)</a><br />
                    <a href="http://www.nits.ac.in/ieee_eds_student_chapter/index.html" target="_blank">IEEE-EDS Student Branch
                        Chapter</a><br />
                    <a href="http://www.nits.ac.in/misc_docs/Institute_Publication_NITScoop.pdf" target="_blank">Institute
                        Publication</a><br />
                    <a href="http://www.nits.ac.in/nirf/nirf.php">NIRF Documents</a><br />
                    <a href="http://www.nits.ac.in/academics/programme.php">Programmes</a><br />
                    <a href="http://www.nits.ac.in/results/results.php">Results</a><br />
                    <a href="http://www.nits.ac.in/admissions/scholarships.php">Scholarships</a><br />
                    <a href="http://www.nits.ac.in/sesi_student_chapter/index.php" target="_blank">SESI Student Chapter</a><br />
                    <a href="http://www.nits.ac.in/workshops/workshops.php">Workshops / Seminars</a><br />
                    <!--<a href="/solar_rtc/solar_rtc.php" target="_blank">Regional Test Center for Solar Thermal Devices</a><br />-->
                </div>
            </div>

            <div class="link departments">
                <div class="footerheadings">Departments</div>
                <div class="footersectioncontent">
                    <a href="http://ce.nits.ac.in/" target="_blank">Civil Engineering</a><br />
                    <a href="http://cs.nits.ac.in" target="_blank">Computer Science &amp; Engineering</a><br />
                    <a href="http://eed.nits.ac.in/" target="_blank">Electrical Engineering</a><br />
                    <a href="http://ec.nits.ac.in" target="_blank">Electronics &amp; Communication Engineering</a><br />
                    <a href="http://www.nits.ac.in/departments/instru/eie.php">Electronics &amp; Instrumentation Engineering</a><br />
                    <a href="http://me.nits.ac.in" target="_blank">Mechanical Engineering</a><br />
                    <a href="http://www.nits.ac.in/departments/chem/chem.php">Chemistry</a><br />
                    <a href="http://www.nits.ac.in/departments/humanities/humanities.php">Humanities and Social Sciences</a><br />
                    <a href="http://www.nits.ac.in/departments/management/management.php">Management Studies</a><br />
                    <a href="http://maths.nits.ac.in/" target="_blank"> Mathematics</a><br />
                    <a href="http://www.nits.ac.in/departments/physics/physics.php">Physics</a><br />
                </div>
            </div>

            <div class="link explore">
                <div class="footerheadings">Explore NITS</div>
                <div class="footersectioncontent">
                    <a href="http://www.nits.ac.in/campuslife/campusfacilities.php">Campus Facilities</a><br />
                    <a href="http://www.nits.ac.in/campuslife/festivals.php">Festivals</a><br />
                    <a href="http://www.nits.ac.in/campuslife/gyansagar.php">Gyansagar</a><br />
                    <a href="http://www.nits.ac.in/gymkhana/index.html">Gymkhana</a><br />
                    <a href="http://www.nits.ac.in/campuslife/healthcentre.php">Health Centre</a><br />
                    <a href="http://www.nits.ac.in/campuslife/hostels.php">Hostels</a><br />
                    <a href="http://www.nits.ac.in/campuslife/photos.php">Photo Gallery</a><br />
                    <a href="http://www.nits.ac.in/campuslife/societies.php">Societies</a><br />
                </div>
            </div>
        </div>
        <div style="color: white;">Handcrafted with Love by Phenyloder ❤️</div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var $owl = $(".owl-carousel");

        $owl.children().each(function (index) {
            $(this).attr("data-position", index);
        });

        $owl.owlCarousel({
            center: true,
            items: 1,
            loop: true,
            dots: true,
            margin: 500,
            autoplay: true,
            autoplayTimeout: 3000,
            smartSpeed: 750,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                },
            },
        });

        $(document).on("click", ".owl-item>div", function () {
            var $speed = 300;
            $owl.trigger("to.owl.carousel", [$(this).data("position"), $speed]);
        });
    </script>
</body>

</html>