.events h1{
    display: inline-block;
    margin: 1rem auto;
    font-size: 60px;
    color: #212529;
    font-weight: 900;
    border-bottom: 4px dotted orangered;
    font-family: 'Allura', cursive;
    color: transparent;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    -webkit-background-clip: text;
    animation: animate 4.5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
    font-weight: 900;
}

.events-main{
    display: flex;
    width: 80%;
    margin: 2rem auto;
    border-bottom: 3.5px dotted rebeccapurple;
    padding: 2rem 0;
}

.events-main:hover{
    transform: translateY(-1px);
}

.img-1{
    width: 35%;
    display: block;
    margin: 0 auto;
    pointer-events: none;
    object-fit: contain;
    box-shadow: 0 0 0.975rem;
    border-radius: 0.625rem;
}

.events-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 2rem;
    margin-left: 4rem;
    min-width: 50%;
}


.events-content h2{
    text-align: center;
    margin: 1rem 0;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    color: rebeccapurple;
}

.events-content p{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6;
    margin-top: 2vh;
    color: #1a1a1a;
}

.content-2{
    margin-right: 4rem;
    margin-left: 0 !important;
}

@media only screen and (max-width:660px){
    .events-main{
        flex-direction: column;
        width: 99%;
    }

    .main-2{
        flex-direction: column-reverse;
    }
    .events h1{
        font-size: 2.55rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .img-1{
        width: 87%;
    }

    .events-content{
        width: 100%;
        margin: 1.5rem auto;
        padding: 0 1rem;

    }
}

@media only screen and (max-width:1301px) and (min-width:661px){
    .img-1{
    box-shadow: none;
    }
}