/* Image Gallary CSS  */
.img-gallary{
    position: relative;
    display: flex;
    width: 100%;
}
.gallary-left{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 3% 2%;
}
.owl-carousel .owl-item img{
    border-radius: 15px;
    pointer-events: none;
    object-fit: contain;
}

.owl-stage{
    display: flex;
}
.gallary-right{
    position: relative;
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
    margin: 3% 0;
    margin-right: 2%;
}

.about-dept{
    position: relative;
    font-size: 2rem;
    text-decoration: underline;
    margin: 2vh 0;
}

.dept-para{
    position: relative;
}


@media only screen and (max-width:991px){
    .img-gallary{
        flex-direction: column;
    }

  
    .gallary-left, .gallary-right{
        width: 95%;
        margin: 0 auto;
    }
    .gallary-left{
        margin-top: 5vh;
    }
    .about-dept{
        font-size: 1.5rem;
    }
}