@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.brand-h1{
    color: rgba(255, 77, 0, 0.868);
    font-family: "Poppins", sans-serif;
    font-family: 'Cantarell', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-left: .5rem;
}

.brand-img{
    width: 2.5rem;
}

.left-brand{
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: #212529;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    margin-left: 2.5rem;
}

.nav-link{
position: relative;
    font-size: 1.2rem;
    font-weight: 900;
    color: white;
    font-family: "Baloo 2", cursive;
}

.nav-link::after{
content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00ff51;
  border-radius: 10px;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after{
    transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link:visited{
    color: #e52e71;
}

.nav-link:hover{
    color: #f7902f;
}

.nav-link:active{
    color: rgb(208, 255, 0);
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 200;
        background: url(chhath-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 0;
        height: auto;
        background-attachment: fixed;
        opacity: 1;
        box-shadow: inset 0 0 0 1000px rgba(231, 246, 194, 0.5);
    }

    .nav-link{
        color: #101010 !important;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}