.notices{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2%;
    background-color: rgb(206, 206, 206);
}
.notice-heading{
    position: relative;
    font-size: 2rem;
    margin-top: 1% 0;
}
.line{
    position: relative;
    width: 50%;
    border: 1px solid black;
    background-color: black;
}
.notice-list{
    position: relative;
    width: 80%;
}
.ul-notice .list-item{
    font-size: 1.2rem;
}